@{
    ViewBag.Title = "Rizal";
}


<h2>List of Enrolled Students</h2>

<table cellpadding="5" cellspacing="15">

    @foreach (string strUsers in ViewBag.RizalClass)
    {
        <tr>
            <td class="feedback">

                @strUsers


            </td>
        </tr>
    }


</table>